---
interface Props {
  urlHeader?: string;
  title: string;
  text: string;
  contentLink?;
  underline?: string;
  class?: string;
  ligthColor?: string;
}
const {
  urlHeader,
  title,
  text,
  contentLink,
  underline = false,
  ligthColor = false,
} = Astro.props;
const { class: additionalClasses = "" } = Astro.props;
---

<div
  class:list={[
    {
      "[$>h1]:text-white": ligthColor,
    },
  ]}
>
  <h1 class="text-[40px] leading-none font-display-medium">{title}</h1>
  <a
    href={urlHeader}
    class:list={[
      `font-display-regular leading-relaxed ${additionalClasses}`,
      {
        "underline underline-offset-8 decoration-1 text-[28px]": underline,
        "text-2xl": !underline,
      },
    ]}>{contentLink}</a
  >
  <p class="text-sm text-light-grey leading-tight font-text-regular">{text}</p>
</div>
